<!--==================== HEADER ====================-->
     
    <div class="blur">
    <header class="header" id="header">
        <nav class="nav container">
            <a href="#" class="nav__logo">
                <i class='bx bxs-watch nav__logo-icon'></i> Watchman
            </a>
           
            

            <div class="nav__menu" id="nav-menu">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="#home" class="nav__link active-link">Home</a>
                    </li>
                    <li class="nav__item">
                        <a href="#featured" class="nav__link">Featured</a>
                    </li>
                    <li class="nav__item">
            
                         <a href='Products'> Products </a>
                    </li>
                    <li class="nav__item">
                        <a href="#new" class="nav__link">New</a>
                    </li>
                    <li class="nav_login">
                        <a href="Login1">
                      <button> Login </button>
                        </a>
                    </li>
                </ul>

                <div class="nav__close" id="nav-close">
                    <i class='bx bx-x' ></i>
                </div>
            </div>
           

            
               

                <div class="nav__shop" id="cart-shop">
                    <i class='bx bx-shopping-bag' >
                        <a href="cart" href="style.css">
                        <button>Cart</button></a>
                    </i>
                    
                </div>

                
            </div>
        </nav>
    </header>